{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'icon.ico' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
      <div class="logo">iKnow</div>
      <div class="login">
          {% block navigator %}
            {% endblock %}
      </div>
  </header>
 

<div class="background">
  <!-- Your fixed-size background image goes here -->
</div>

<div class="content">
  <main>
    {% block insert %}
    {% endblock %}
    </main>


  </div>
</body>

