{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'icon.ico' %}">
    <title>iKnow</title>
</head>
<body>
    <header>
        <div class="logo">iKnow</div>
        <div class="login">
        
                <a href="{% url 'signup' %}">Sign Up</a> |
                <a href="{% url 'login' %}">Login</a>
               
        </div>
    </header>
    <div class="card-container">
        {% for item in all|dictsortreversed:"timeline" %}

        {% if item.validate %}
        <div class="content-box">
            <p class="article-title">{{item.heading}}</p>

      <details class="myDetails">
              <summary class="mySummary">details</summary>
              
              <p>{{item.paragraph1}}  </p>
              <p>{{item.paragraph2}} </p>
              <p>{{item.paragraph3}}</p>
              
            
            </details>
            <script>
              const summaryElement = document.querySelector('#myDetails summary');
  summaryElement.addEventListener('click', function() {
    summaryElement.style.display = 'none';
  });

              </script>
              <p class="date">{{item.timeline}}| posted by: {{item.author}} </p>
          </div>  
          
          <style>
            /* CSS rules for styling the date */
            .date {
                color: rgb(87, 78, 78);

                font-size: 16px;
            }
        </style>
        {% endif %}
        {% endfor %}
    </div>
</body>
</html>
